@use '../assets' as a;

.title,
.description {
    color: #808080;
}

.devbanner {
    padding: 3rem;
    border-radius: 58px;
    background: #131314;
    box-shadow: inset 20px 20px 14px #080808,
            inset -20px -20px 14px #1e1e20;
    margin: 1rem 2rem 2rem 2rem;
}

@media screen and (min-width: 768px) {
    .devbanner {
        margin: 3rem;
    }
}

.devbanner {
    text-align: center;
}

div > .devbanner {
    color: whitesmoke;
}