@use '../assets' as a;

footer {
	background-color: a.$off-white;


	.main-footer {
		padding-top: 2rem;
		padding-bottom: 6rem;
		.footer-two {
			.logo img {
				height: 9rem;
			}
		}
	}

	.secondary-footer {
		width: 100%;
	}

	@media only screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;

		.main-footer {
			width: 100%;
			display: flex;
			justify-content: space-around;

			.footer-one {
				text-align: left;
			}

			.footer-two {
				text-align: right;
			}
		}

		.secondary-footer {
			width: 100%;
		}
	}
}
