//colors
$off-black: #131313;
$primary: #113227;
$secondary: #C09578;
$off-white: #F1F1F1;
$gray: #CEC8C3;

//hover states
$off-black-hover: #323232;
$secondary-hover: #aa7e60;

.primary {
    color: $primary;
}

.off-black {
    color: $off-black;
}

.off-white {
    color: $off-white;
}


//original green: test this #0F2E24
