// @font-face {
// 	font-family: 'Summit';
// 	src: url('../../fonts/High\ Summit.otf');
// 	src: url('../../fonts/High\ Summit.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// $Archivo: 'Archivo Black', sans-serif;
// $Julius: 'Julius Sans One', sans-serif;
.smltxt {
	font-size: 14px;
}

body h1,
body h2 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	line-height: 75px;
	text-align: left;
}
body h1 {
	font-size: 64px;
}
body h2 {
	font-size: 48px;
}

body p,
body label,
body input,
body a,
body h3 {
	font-family: 'Poppins';
	font-size: 18px;
	line-height: 1.6;
	text-align: left;
}
p.m-w65 {
	max-width: 65rem;
}

.errors {
	font-family: 'Poppins';
}

.inner-container {
	padding-inline: 1rem;
}
